#message{
    display: none;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}

input{
    transition-delay:1000ms;
}

.body-wrapper{
    margin: 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
    max-width: 6rem;
}